@charset "utf-8";
{
	margin: 0;
	padding: 0;
	font-family: Verdana, sans-serif;
}
.wrapper{
	width: 1170px;
	margin: auto;
}

body{
	background-color: black;
	background: url("docs/assets/viMarble2.png");
}